<% layout('layout/boilerplate') %>
    <%- include('./partials/nav') %>
        <header>
            <link rel="stylesheet" href="/stylesheets/about.css">
        </header>

        <body>
            <div class="container">
                <div class="white mb-3">
                    <h1>About Us</h1>
                </div>
                <h2 class="name white mb-3"> Oliver Erdmann</h2>
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <img id="Oliver-image"
                            src="https://res.cloudinary.com/brothersingaming/image/upload/v1610049343/campground_xlfbdy.jpg"
                            alt="">
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col text-background">
                        <p class="lead">Hey there! My name is Oliver, and I am one of the two developers
                            that created this website project. 
                            <br><br>
                            Did you know that this website will soon become a high traffic site gaining 
                            thousands of views and visitors per month? This project is designed to give more freedom
                            to the developers (Fernando and Me) in terms of management. For now, a pre-built site with a wordpress
                            host for BrothersInGaming exists, but will soon be carried over to here.
                            <br><br>
                            Anyways, as you can tell by the picture, I'm an individual who loves to be in the outdoors, play music, and 
                            wear lots of band merch and leather. I actually don't play drums (those are my friend's) but I do love
                            shredding on guitar!
                            <br><br>
                            In 2020, I took it upon myself (with a little encouragement from Fernando) to learn HTML5, CSS3, 
                            and Javascript so I could be able to design beatiful responsive websites such as this one. I know both
                            front-end and back end, how to use different frameworks, mongoDB databases, cloudinary storage databases, express,
                            and other things too! 
                            <br><br>
                            Check out my personal website <a href="http://olivererdmann.herokuapp.com">here</a>!
                        </p>
                    </div>
                    </div>
                    <div class="spacing"></div>
                    <!-- Mr. Cabrera's image -->
                    <h2 class="name white mb-3 mt-4"> Fernando Cabrera</h2>
                    <div class="row">
                        <div class="col col-lg-4 mb-3">
                            <img id="Fernando-image" src="https://res.cloudinary.com/brothersingaming/image/upload/v1610049349/starwarsbfiitroopernaboo_vczhfp.jpg" alt="">
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col text-background">
                            <p class="lead">Hey there! My name is Fernando, as you can probably guess I am the other developer who worked to build this site!
                                <br><br>
                                Oliver and I met early in first year engineering and we soon became fast friends. With all this free time on our hands, we decided to undertake an abitious project.
                                From scratch we built BrothersInGaming2 - an attempt (a successful one) to recreate and improve on his old wordpress website <a href="https://www.brothersingaming.com/">www.brothersingaming.com</a>.
                                <br><br>
                                We worked to carefully implement full CRUD functionality using the MVC Design Pattern, authorization, authentication using JS, HTML, Node, CSS, MongoDB, Express and so much more!
                                As a fullstack developer, I do love to program every free second I have, as well as learn and expand my skillset, but I also enjoy running, olympic weightlifting
                                , playing the piano, and listening to music. 
                                <br><br>
                                Be sure to visit my <a href="http://www.fernandocesarcabrera.com/">personal website</a> to keep up to date on my other projects which use anything from React to Django!

                            </p>
                        </div>
                    </div>
                    <div class="spacing"></div>

                </div>



            </div>

        </body>